manifest {
    name        = 'MitoArc'
    author      = 'Sarvesh Galgale'
    version     = '1.0.0'
    description = 'A reproducible short-read workflow for human mitochondrial genome analysis.'
    mainScript  = 'main.nf'
    nextflowVersion = '>=23.04.0'
}

params {
    input  = null
    reference = null
    mt_contig = 'chrM'
    autosomal_contigs = null
    coverage_mapq = 20
    shift_offset = 8000
    mutserve2_heteroplasmy_threshold = 0.01
    numt_mapq = 20
    numt_strategy = 'none'
    numt_fixture_truth = null
    numt_fixture_design = null
    haplogrep_tree = 'phylotree-rcrs@17.3'
    haplogrep_het_level = 0.9
    haplogroup_functional_fixture = null
    haplogroup_functional_expected = null
    homoplasmy_threshold = 0.95
    consensus_heteroplasmy_mode = 'reference'
    annotation_functional_fixture = null
    annotation_functional_expected = null
    outdir = 'results'
}

process {
    executor = 'local'
    errorStrategy = 'terminate'
    cpus = 2
    memory = '2 GB'
    time = '1h'
}

docker {
    enabled = false
}

profiles {

    standard {
        docker.enabled = false
    }

    docker {
        docker.enabled = true
    }
}
